{% extends "minescreen.html" %}

{% block body %}
<div class="main_screen">
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

    {{ form }}
    <input type="submit" value="Загрузить" onclick="urlSwitch()" />
</form>
<script>
    function urlSwitch()
    {
        document.location.href = "/";
    }
</script>
</div>
{% endblock body %}