<head>
    {% load static %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script language="javascript" src="{% static "js/modal_form.js" %}"></script>
    {% block header %}{% endblock header %}
    <link href="{% static "css/modal_form.css" %}" rel="stylesheet">
    <link href="{% static "css/main_screen.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"></a>
    {% if user.is_authenticated %}
     <font  size="5" color="#800080" face="Arial">{{ user.username }}</font>
     <button id="buttonLoginOut" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
    {% else %}
     <button id="buttonModel" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
    {% endif %}
</nav>

<div class="container">
{% if user.is_authenticated %}
<div class="panel">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">Главная страница</a>
            <a class="nav-link" href="/load/">Загрузить видео</a>
            <a class="nav-link" href="/myvideos/">Мои видео</a>
            {% if user.is_superuser %}
            <a class="nav-link" href="/users/">Пользователи</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}

{% block body %}{% endblock body %}

</div>

<div id="modal_form">
    <span id="modal_close">X</span>
    <div class="form-group">
        <label>Login</label>
        <input class="form-control" id="login" placeholder="Login">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Password">
    </div>
    <button type="button" id="sing_in" class="btn btn-dark">Войти</button>
    <a id="registration" href="registration/">Регистрация</a>
    <label id="error"></label>
</div>
<div id="overlay"></div>