{% extends './minescreen.html' %}

{% block modal_form %}
<div id="modal_form">
    <span id="modal_close">X</span>
    <div class="form-group">
        <label>Login</label>
        <input class="form-control" id="login" placeholder="Login">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Password">
    </div>
    <button type="button" id="sing_in" class="btn btn-dark">Войти</button>
    <a id="registration" href="registration/">Регистрация</a>
</div>
<div id="overlay"></div>
{% endblock modal_form %}