{% extends "minescreen.html" %}

{% block header %}
{% load static %}
<script language="javascript" src="{% static "js/video.js" %}"></script>
<link href="https://vjs.zencdn.net/7.0.3/video-js.css" rel="stylesheet">
<script src="https://vjs.zencdn.net/7.0.3/video.js"></script>
{% endblock header %}

{% block body %}
<div class="main_screen" id="videos">

</div>
{% endblock body %}