<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<h2>Регистрация</h2>
  <form method="post" id="form1">
    {% csrf_token %}
    <label>
      <span>Введите логин</span>
      <input type="text" name="username" id="username" minlength="4" required="true"/>
    </label>
    <label>
      <span>Введите пароль</span>
      <input type="password" name="password1" id="password1" minlength="8" required="true"/>
    </label>
    <label>
      <span>Повторите пароль </span>
      <input type="password" name="password2" id="password2" minlength="8" required="true" equalTo:"#password1"/>
    </label>
    <button type="submit">Отправить</button>
  </form>
  {{form.errors}}