{% extends "minescreen.html" %}

{% block header %}
{% load static %}
<script language="javascript" src="{% static "js/users.js" %}"></script>
{% endblock header %}

{% block body %}
<table id="users" class="main_screen" border="1" width="100%" cellpadding="5">

</table>
{% endblock body %}