.container {
    max-width:100% !important;
    display: flex;
    flex-direction: row;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.main_screen
{
    height: 94%;
    overflow: auto;
    flex: 7;
}

.panel
{
    height: 94%;
    background-color: coral;
    flex: 1;
}

.video
{
    display:inline-block;
}